//colores 
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$gray: #4a4a4a;
$light-gray: #979797;
$light-green: #67b54b;

//fuentes
$font-title: "Alegreya", serif;

//placeholders 
%base-title {
    font-family: $font-title;
    color: $dark-green-title;
    font-weight: 800;
}

%base-email {
    // border: 1px solid #b6b6b6;
    // padding: 6px 20px;
    // width: 60%;
    // max-width: 250px;
    // height: 100%;
    // border-radius: 8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
}

%base-button {
    // background-color: #025157;
    // color: #fff;
    // border: none;
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    // padding: 6px 20px;
    // margin-left: -10px;
    // height: 100%;
    // border-radius: 8px;
    color: #fff;
    background-color: #025157;
    height: 47px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
}